#!/usr/bin/env bash

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;

# krew
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

# Golang
export GOROOT=/usr/local/Cellar/go/1.14.3/libexec
export GOPATH=/Users/linqiong/workspace/app/golang/lib
export PATH=$PATH:$(go env GOPATH)/bin
export PATH=$PATH:/usr/local/bin
export GOPROXY=https://goproxy.cn

# nvm
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm
