# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes


# Application specific files
venv
node_modules
bin
.env

# VSCODE
.vscode

# IntelliJ IDEA IDE
.idea

# Compiled Golang files
*.pb.go
*.pb.validate.go

# Compiled Python files
*.pyc

# Files that contain credentials or personal info
.aws/
.s3cfg
